version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: postgres_bankinc
    restart: always
    environment:
      POSTGRES_DB: bankinc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: